.date-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 20px;
  width: 20px;
}

.value-container {
  margin-top: 0;
  margin-bottom: 3px;
}

.space {
  margin-right: 10px;
}