.begin-button {
  background-color: #391E18;
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}

input {
  font-family: inherit;
}

.slider-group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #FBE8BE;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #391E18;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #391E18;
  cursor: pointer;
}

#percentage {
  position: absolute;
}