# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/afk-mythic-trick-react/node_modules
/afk-mythic-trick-react/.pnp
/afk-mythic-trick-react/.pnp.js

# testing
/afk-mythic-trick-react/coverage

# production
/afk-mythic-trick-react/build

# misc
/afk-mythic-trick-react.DS_Store
/afk-mythic-trick-react.env.local
/afk-mythic-trick-react.env.development.local
/afk-mythic-trick-react.env.test.local
/afk-mythic-trick-react.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# data mining
afk-mythic-trick-react/AFK.apk
afk-mythic-trick-react/Resources

# backend
/afk-mythic-trick-flask