.App {
  text-align: center;
}

/* body{
  background-color: #C79366;
} */

@font-face {
  font-family: "AFK";
  src: local("AFK"), url(./fonts/hgame_font_en.ttf) format("truetype");
}

h1, h2, h3, h4, h5, p {
  font-family: "AFK";
  text-shadow: 0 0 1px #3E281B, 0 0 1px #3E281B, 0 0 1px #3E281B, 0 0 1px #3E281B;
  color: #FBE8BE;
  /* -webkit-text-stroke: 1px #3E281B; */
}